@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-toolbar {
  background: black;
  color: #fff;
}
#proba {
  display: flex;
  justify-content: flex-end;

  padding: 10px;
}
.menu {
  display: flex;
  justify-content: flex-start;
}
.login {
  display: flex;
  justify-content: flex-start;
}
.logout {
  display: flex;
  justify-content: flex-start;
}
.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

.course-actions {
  text-align: center;
}
.main {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
