@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-toolbar {
  background: black;
  color: #fff;
}
.menu {
  display: flex;
  justify-content: flex-start;
}
.login {
  display: flex;
  justify-content: flex-start;
}
.logout {
  display: flex;
  justify-content: flex-start;
}
.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

.course-actions {
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-end;
}
.container-item {
  color: white;
  margin-right: 5px;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 10px;
}
