@import '~@angular/material/prebuilt-themes/indigo-pink.css';
table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}
#delete {
  color: red;
}
#edit {
  color: green;
}
.container-search {
  display: flex;

  justify-content: flex-end;
}
.search-item {
  margin-top: 10px;

  width: 260px;
}
